* {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#calc-container {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    grid-template-rows: repeat(5, 20%);
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

#zero {
    grid-area: 5/1/6/2;
}

#one {
    grid-area: 4/1/5/2;
}

#two {
    grid-area: 4/2/5/3;
}

#three {
    grid-area: 4/3/5/4;
}

#four {
    grid-area: 3/1/4/2;
}

#five {
    grid-area: 3/2/4/3;
}

#six {
    grid-area: 3/3/4/4;
}

#seven {
    grid-area: 2/1/3/2;
}

#eight {
    grid-area: 2/2/3/3;
}

#nine {
    grid-area: 2/3/3/4;
}

#decimal {
    grid-area: 5/2/6/3;
}

#add {
    grid-area: 5/4/6/5;
}

#subtract {
    grid-area: 4/4/5/5;
}

#multiply {
    grid-area: 3/4/4/5;
}

#divide {
    grid-area: 2/4/3/5;
}

#equal {
    grid-area: 5/3/6/4;
    background-color: #BCF4F5;
}

#clear {
    grid-area: 1/1/2/2;
    background-color: #D9F2B4;
}

#output {
    grid-area: 1/2/2/5;
    background-color: #BCF4F5;
}

.number {
    background-color: #B4EBCA;
}

.operation {
    background-color: #D9F2B4;
}

.number, .operation, #output {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}